<div class="resume-container">
  <div class="resume-wrapper">
    <div class="resume-page">
      <div id="left-side">

        <img [src]="profileImage" class="avatar">
        <div class="topic">Contact</div>
          <div class="contact-topic">Phone</div>
            <div class="contact-item">081-116-5125</div>

          <div class="contact-topic">Email</div> 
            <div class="contact-item">nanthaphop.weerahong&#64;gmail.com</div>

          <div class="contact-topic">Address</div>
            <div class="contact-item">Nongbua, Banphaeo, Samut Sakhon 74120</div>
          
          <div class="contact-topic">GitHub</div>
            <div class="contact-item">github.com/MosNanthaphop</div>

        <div class="topic">Education</div>
          <div class="edu-item">2022 - 2026 (Expected)</div>
          <div class="edu-bold">Bachelor of Science</div>
          <div class="edu-bold">(Computer Science)</div>
          <div class="edu-bold">Silpakorn University</div>
          <div class="edu-item">GPA 3.17</div>
          <div style="margin-bottom: 20px;"></div>

          <div class="edu-item">2019 - 2022</div>
          <div class="edu-bold">Science and Mathematics</div>
          <div class="edu-item">Banphaeowittaya (Teetong) School</div>
          <div class="edu-item">GPAX 3.62</div>

        <div class="topic">Programming <span class="break-space"></span> Skills</div>
          <ul class="skills-list">
            <li>HTML</li>
            <li>Java</li>
            <li>CSS</li>
            <li>Dart</li>
            <li>Python</li>
            <li>Go</li>
            <li>C</li>
            <li>PHP</li>
            <li>C++</li>
            <li>SQL</li>
          </ul>

        <div class="topic">Languages</div>
        <div class="lang-item"><span class="lang-bold">Thai </span>(Native)</div>
        <div class="lang-item"><span class="lang-bold">English </span>(Intermediate - B1)</div>
      </div>

      <div id="right-side">
        <div class="name"><span class="name-bold">Nanthaphop</span> Weerahong</div>
        <p class="my-role">COMPUTER  SCIENCE</p>
        <p class="my-desc">A highly motivated and detail-oriented 3rd-year Computer Science student with a strong interest
          and expertise in Java, C, Python, HTML, CSS and JavaScript. Seeking an internship position to
          apply&nbsp; technical&nbsp; skills&nbsp;&nbsp; and&nbsp;&nbsp; problem-solving&nbsp;&nbsp; abilities&nbsp; in&nbsp; innovative&nbsp; projects,&nbsp; while&nbsp;&nbsp; growing
          professionally in a dynamic and collaborative environment.</p>
          
        <div class="topic-right">Experiences</div>
          <div class="experience-container">
            <div class="timeline">
              <div class="timeline-item">
                <div class="timeline2-item">
                  <div class="year">2024 (Mar-Apr)</div>
                  <div class="position">Full Stack Developer (HTML, CSS, JavaScript)</div>
                  <div class="title">Web Application Development</div>
                  <div class="description">
                      <strong>E-commerce Web Application:</strong> Designed and developed an e-commerce website,
                      handling both front-end and back-end development. Gained practical experience in
                      ensuring seamless integration between the user interface and backend systems.
                      Additionally, improved communication skills through effective collaboration with team
                      members to ensure smooth project execution.
                      
                  </div>
                </div>
              </div>
              <div class="timeline-item">
                <div class="timeline2-item">
                  <div class="year">2024 (Oct-Nov)</div>
                  <div class="position">Mobile Developer and Tester (Dart, JavaScript)</div>
                  <div class="title">Mobile Application Development</div>
                  <div class="description">
                      <strong>UX/UI Design:</strong> Trained in the Design Thinking process and gained comprehensive
                      knowledge of the steps involved in designing an application. This includes understanding
                      the processes required before an app is ready for use, such as interviewing target
                      audiences, brainstorming ideas and features, collaborating with individuals from diverse
                      perspectives, and integrating user feedback to enhance and refine the application.
                      <br><strong>Currency Converter App:</strong> Developed a real-time currency converter app using Flutter and
                      integrated a REST API to provide accurate, up-to-date exchange rate calculations. The
                      app features a user-friendly interface designed to enhance usability and streamline
                      currency conversion.
                      
                  </div>
                </div>
              </div>
              <div class="timeline-item">
                <div class="timeline2-item">
                  <div class="year">2024 (Aug-Nov)</div>
                  <div class="position">Developer (Java)</div>
                  <div class="title">Operating System</div>
                  <div class="description">
                      <strong>Download File with Zero Copy and Multithreading:</strong> Gained knowledge and developed
                      programs for downloading and transferring files on both Windows and Linux systems,
                      implementing both standard file transfers and Zero Copy techniques. Leveraged expertise
                      in threading and Java thread programming to optimize performance.
                      <br><strong>Zorin System:</strong> Installed the Zorin OS Education operating system as part of a project to
                      support children in rural areas through the Second-Hand Computer for Kids initiative.
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="topic-right">Extracurricular Activities</div>
          <ul class="activities">
            <li>
              “Career-Ready English Skills Workshop on Job Applications”
              Hosted by Grant Thornton, Thailand and Cathcart Associates Asia Recruitment
              Topics: IT Job Market Overview, Creating an Impactful Resume, Building a LinkedIn
              Profile, Job Application Strategies, Development Assessment, Interview Preparation,
              and contracts and negotiation.
            </li>

            <li>Completed a course on Web scraping using Python.</li>

            <li>Web application and REST API backend development with node.js</li>
            
            <li>
              Participated in the Web Editor competition at the Art and Craft Skills Contest for
              Grade 7–9 students and won 1st place.
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>